---
---
<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <title>{% if page.url == '/' %}{{site.maptime.chapter}}{% else %}{{site.maptime.chapter}} | {{page.title}}{% endif %}</title>
  <link rel='stylesheet' href='{{site.baseurl}}/site.css' type='text/css'/>
  <link rel='shortcut icon' href='{{site.baseurl}}/assets/favicon.png' type='image/x-icon' />
  <!-- <link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'> -->
</head>
<body>

<div class='col12 strong dark fill-darken0 fill-green row8 truncate contain header'>
    <div class='pad4y pad4x'><h1><a href='{{site.baseurl}}/'>...</a></h1></div>
</div>

  <div class='limiter  pad4x'>
    <div class='col12 clearfix'>
      <div class='col12 margin2r prose content'>
        {{content}}
      </div>
    </div>
  </div>

  <footer class='fill-light pad2y'>
    <div class='limiter center small quiet'>
      <p>This website is <a href='http://github.com/{{site.github_org}}/{{site.repo}}/'>open source</a> and you can improve it. Learn more about contributing <a href='https://guides.github.com/activities/forking/'>here</a>.</p>
   </div>
  </footer>

<script src='{{site.baseurl}}/js/jquery.min.js'></script>
<script src='{{site.baseurl}}/js/underscore.min.js'></script>
<script src='{{site.baseurl}}/site.js'></script>

</body>
</html>
